
<body class="wrapper">
<!-- <h1>Welcome to JS !...</h1> -->
<!-- <nav class="Andika"> -->
  <ul>
    <li><a routerLink="/dashboard" id="link">  Dashboard  </a></li>
    <li><a routerLink="/restaurants" id="link"> Restaurants </a></li>
  </ul>
  <!-- </nav> -->


<router-outlet></router-outlet>
<!-- <app-restaurants></app-restaurants> -->
<app-messages></app-messages>

  <br><br><br>
  <img [src] = "dash_image1" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;" title="Niharika Hotel">
  <img [src] = "dash_image2" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image3" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image4" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image5" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image6" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image7" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  
  <img [src] = "dash_image8" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image9" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image10" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image11" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
  <img [src] = "dash_image12" alt = " " style="width: 300px; height: 200px; margin-left: 40px; margin-bottom: 20px;">
</body>

